/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-light-purple: #df78ef;
  --color-dark-purple: #790e8b;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-backblack: #21211e;
  --color-orange: #f57f17;



  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annimation */
  --annimation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-backblack);
  align-items: center;
  color: var(--color-light-white);
  padding: 16px;
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-light-purple);
}

.navbar__menu__item:hover {
  background-color: var(--color-dark-purple);
}

.navbar__toggle-btn {
  position: absolute;
  top: 24px;
  right: 38px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
/* 기존 위치에서 벗어나 웹페이지 전체 기준으로 움직일수있게 absolute 포지션주고 기준에서
위에서 아래로 24, 기준에서 오른쪽에서 왼쪽으로 38 위치 준거고 display는 none으로
해야 안보이다가 미디어쿼리로 768px로 줄어들시에 보이게 설정할것 */
}

/* Home */
#home {
  background: url("images/background.png") center/cover no-repeat;
  padding: 40px;
  text-align: center;
}

.home__avbatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-purple);
}

.home__title,
.home__description {
  color: var(--color-light-white);
}

.home__contactMe {
  color: var(--color-light-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-light-purple);
  border-radius: var(--size-border-radius);
}
.home__contactMe:hover {
  background-color: var(--color-dark-purple);
}

/* Section common */

.section {
  padding 50px;
  text-align: center;

  margin: auto;
  /* 한쪽에만 마진이 들어가서 가운데 정렬이 안되면 */

}
.section__container {
  max-width: 1200px;
  /* 1000~1200 데스크톱에서 보기 좋은 max-width */
  margin: auto;
}
/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  /* line_height 을 박스 height와 같은 값을 주면,
  가운데 정렬 가능 */
  /* background-color: 박스 사이즈를 할때 더 보기 쉽게 사이즈 조절할수있게
  색깔을 임시로 줌*/
  font-size: 70px;
  /* 폰트어썸에서 받아온 아이콘도 폰트이기에 사이즈 조절도 폰트 사이즈로 */
  color: var(--color-light-purple);
  margin: auto;
  border: 1px solid var(--color-light-purple);
  border-radius: 50%;
  margin-bottom: 16px;
}
.major__icon i {
  transition: all var(--annimation-duration) ease;
}
.major__icon:hover i{
  color: var(--color-dark-purple);
  transform: rotate(-10deg) scale(1.2);
  /* Class i(아이콘) :hover */
}
.major__description {
  font-size: font var(--font-small);
}

.about__exp {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid 1px var(--color-light-purple);
}

.exp__logo {
  width: 100px;
  height: 100px;
}

ul.exp_description {
  list-style-type: square;
}
.exp_description li:first-child {
  margin-bottom: 10px;
  /* UL / CLASS 의 li 중 첫번째, nth-child(순서) 가능 */
}

/* Skills */
#skills {
  background-color: var(--color-backblack);
  padding-bottom: 16px;
}

.skills__main_description {
  color: var(--color-light-white);
  margin-bottom: 20px;
}

.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
}
.skillset__title {
  color:var(--color-light-white);
}

.skillset__left {
  flex-basis: 60%;
  /* flex-basis : left와 right에게 퍼센트로 자리 배분 */
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}
.skill {
  margin: 30px 30px 0 0;
}
.skill_description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  height: 3px;
  background-color: var(--color-light-purple);
}
/* Skill bar, value : Bar를 밑에 어두운색으로 그려놓고
Value값으로 채워서 프로그레스바를 만들수있음
Value의 값은 HTML에 style="width: XX%"; 으로 색을 채움*/

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-grey);
  padding: 8px;
}

/* Work */
.work__categories{
  margin: 40px;
}
.categories__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  border-color: var(--color-light-purple);
}

.categories__btn.active,
.categories__btn:hover {
  background-color: var(--color-dark-purple);
  color: var(--color-light-white);
}
.categories__btn.active .category__count,
.categories__btn:hover .category__count {
  opacity: 1;
  top: 0;
}
/* 카테고리 버튼이 액티브인 카테코리 카운트와, 카테고리 버튼이 호버상태인 카테고리 카운트에게 다시 원래자리로, */
.category__count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  /* 여기부터 */
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--annimation-duration) ease-in;
}
/* 여기까지 relative position (원래자리에서) opacity 활용해서 숫자가 위에서 아래로 들어오는 Ease-in */

.work__priojects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 250px;
  margin: 2px;
  padding: 10px;
  background-color: var(--color-light-white);
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}
.project__description {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  opacity: 0;
  transform: translateY(20px);
  /* Y축에서 위로 올라오는 느낌을줄때 20px 밑으로갔다가 hover일때 0px 제자리로, */
  transition: all var(--annimation-duration) ease-in;
}
.project:hover .project__description {
  opacity: 0.8;
  /* project 에 마우스가 호버되면 그 안에있는 project__description 의 opacity를 0.8로 해서 
  black 컬러가 투명해져서 뒤에 컨텐츠위에 겹치는 느낌 */
  transform:translateY(0px);

}

.project__description h3 {
  color: var(--color-white);
}
/* absolute(원래자리에서 벗어나서) 근접한 부모노드중 static 을 쓰지않은 곳의 top 0 left 0 으로 이동 그래서 부모노드인 project 에 relative 포지션을 줘야함 */
.project__description h3:after {
  content: -;
  display: block;
  position: relative;
  width: 25px;
  height: 2px;
  margin-left: -12px;
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

/* Testmonial */
#testimonials {
  background-color: var(--color-backblack);
}
.testimonials__title {
  margin: 30px;
  color: var(--color-light-white);
}

.testimonials__desrtiption {
  color: var(--color-light-white);
}

.testimonials {
  margin: 40px;
}

.testimonial {
  display: flex;
  margin: 15px 0;
}

.testimonial__avatar {
  width: 140px;
  height: 140px;
  border: solid 4px var(--color-light-purple);
  border-radius: 50%;
}

.testimonial__avatar:nth-child(odd){
  margin-right: 40px;
}

.testimonial__avatar:nth-child(even){
  margin-left: 40px;
}

.testimonial__speech-bubble {
  padding: 18px;
  margin-bottom: 15px;
  background-color: var(--color-backblack);
  border: 2px solid var(--color-light-purple);
}

.testimonial__speech-bubble p {
  color: var(--color-light-white);
}

/* Contact */
#contact {
  background-color: var(--color-white);
}

.contact__title {
  margin: 32px 0;
}

.contact__links a {
  font-size: var(--font-large);
  color: var(--color-black);
  margin: 24px 8px;
}

.contact__links i:hover {
  transform: scale(1.2);
  color: var(--color-light-purple);
}

@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
    /* 반응형 display none인 토글바를 768px 일때 보이도록 block */
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }
  /*반응형 navbar / toggle button 만드는거  */

  .about__majors {
    flex-direction: column;
  }

  .major {
    margin-bottom: 38px;
  }

  .skillset {
    flex-direction: column;
  }

  .about__exp {
    flex-direction: column;
  }

  .project {
    flex-grow: 1;
  }
  /* 화면이 작아져도 아이템은 화면을 채우게 */

  .testimonial__avatar {
    width: 80px;
    height: 80px;
  }

}